@{
    this.Layout = "~/Layouts/_MainLayout.cshtml";
    this.Page.Title = "Dave Prentice - Home";
}

    <div class="container-fluid">

        <!-- header image -->
        <div class="row">
            <div class="col-md-12 leadtrumpet-banner">
                <img id="image-dave" src="~/images/Dave.png" class="img-responsive center-block"/>
            </div>
        </div>

        <!-- Endorsement -->
        <div class="row">
            <div class="col-md-12">
                <blockquote>
                    <p><em>"Dave is currently one of the best lead trumpet players in the city"</em></p>
                    <footer>Craig Johnson, The 11th Hour</footer>
                </blockquote>
            </div>
        </div>

        <!-- links -->
        <div class="row">
            <div class="col-sm-4 section-link">
                <h2 class="text-center">Musician</h2>
                <p>From Bach to Basie, a versatile musician and clinician with numerous recording credits to his name</p>
                <div class="text-center">
                    <a href="#" class="btn btn-default">See more..</a>
                </div>
            </div>
            <div class="col-sm-4 section-link">
                <h2 class="text-center">Arranger</h2>
                <p>An agile arranger creating great scores for brass section or Big Band. Check out some of his charts</p>
                <div class="text-center">
                    <a href="#" class="btn btn-default">See more..</a>
                </div>
            </div>
            <div class="col-sm-4 section-link">
                <h2 class="text-center">Producer</h2>
                <p>Producing recordings for many local artisis. Check out some of of Dave's recent projects</p>
                <div class="text-center">
                    <a href="#" class="btn btn-default">See more..</a>
                </div>
            </div>
        </div>
    </div>
